# Files (especially image files) prepared with the sole purpose of getting posted on CUHKSecrets, for various reasons (e.g. promotion).
# And I shall not allow my KMB text-doujinshi to be leaked out due to my careless management.
secrets promo material/