<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <PolygonKmlFileLocation>C:\Users\Vincent Wong\Documents\GitHub\alt-routes\analysis\splitter_test.kml</PolygonKmlFileLocation>
  <BusStopXmlFileLocation>C:\Users\Vincent Wong\Desktop\ProcessingAnalysis\BUSSTOP.xml</BusStopXmlFileLocation>
  <RouteStopXmlFileLocation>C:\Users\Vincent Wong\Desktop\ProcessingAnalysis\ROUTESTOP.xml</RouteStopXmlFileLocation>
</Configuration>